@tailwind base;
@tailwind components;
@tailwind utilities;


.circle-icon {
    @apply flex justify-center items-center p-3 text-black w-[3rem] h-[3rem]
}

.generic-tile  {
    @apply rounded-md px-4 py-2 /*border-[1.75px] border-black*/
}

.dotted-tile  {
    @apply rounded-md px-4 py-2 /*border-[1.75px] border-dotted*/ border-gray-700
}

.suggestion-tile {
    @apply rounded-md /*border-[1.75px] border-gray-300*/
}

/* VANILLA CSS WARNING? */
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.fade-in {
animation: fade-in 0.5s ease forwards;
}
