@tailwind base;
@tailwind components;
@tailwind utilities;


.circle-icon {
    @apply flex justify-center items-center p-3 text-black w-[3rem] h-[3rem]
}

.generic-tile  {
    @apply rounded-md px-4 py-2 /*border-[1.75px] border-black*/
}

.dotted-tile  {
    @apply rounded-md px-4 py-2 /*border-[1.75px] border-dotted*/ border-gray-700
}

.suggestion-tile {
    @apply rounded-md /*border-[1.75px] border-gray-300*/
}

/* VANILLA CSS WARNING? */
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.fade-in {
animation: fade-in 0.5s ease forwards;
}

.dynamic-text-xl {
  @apply text-2xl max-[500px]:text-xl 
}

.dynamic-text-lg {
  @apply text-xl max-[500px]:text-lg max-[400px]:text-base
}

.dynamic-text-md {
  @apply text-base max-[500px]:text-sm max-[400px]:text-xs
}

/* ////////////////////// */
.dynamic-square {
  @apply w-[18px] h-[18px] max-[500px]:w-[14px] max-[500px]:h-[14px] max-[400px]:w-[10px] max-[400px]:h-[10px]
}

.dynamic-square-spacing {
  @apply gap-6 max-[500px]:gap-4 max-[400px]:gap-3
}

/* ////////////////////// */